@model TssCodingAssignment.Models.ViewModels.HomeVM


<div class="row mt-4 mb-2 py-3 border shadow rounded bg-white">
    <div class="form-group d-flex flex-row">
        <div class="col-5">
            @Html.DropDownListFor(c => c.CategoryId, Model.CategoryList, "Select Category", new { @class = "form-control" })
        </div>
        <div class="col-5">
            <select class="form-select" aria-label="Default select example" name="orderBy" asp-for="@Model.OrderBy" id="select-category">
                <option selected>Sort By</option>
                <option value="PriceLH">Price: Low to High</option>
                <option value="PriceHL">Price: High to Low</option>
                <option value="New">Newest to Oldest</option>
                <option value="Old">Oldest to Newest</option>
            </select>
        </div>
        <div class="col-2">
            <a asp-area="Customer" asp-controller="Home" asp-action="Index" asp-route-categoryId="@Model.CategoryId" asp-route-orderBy="@Model.OrderBy" class="btn btn-primary"><i class="fas fa-filter"></i></a>
        </div>
    </div>
</div>

<div class="row pb-3 backgroundWhite">
    @foreach (var product in Model.ProductList)
    {
        <div class="col-lg-2 col-md-4">
            <div class="row p-2">
                <div class="col-12 p-1 shadow" style="border: 1px solid #acacac; border-radius: 5px;">
                    <div class="card" style="border:0px; height: 450px;">
                        <img src="@product.ImageUrl" class="card-img-top rounded shadow-sm img-fluid" />
                        <div class="pl-1 pt-1 text-center">
                            <p class="card-title h5"><b style="color:#2c3e50">@product.Name</b></p>
                        </div>
                        <div style="padding-left:5px;" class="text-center">
                            <p>Price: <b class="text-primary">$ @product.Price.ToString("0.00")</b></p>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details" class="btn btn-primary form-control" asp-route-id="@product.Id">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<style>
    .card-img-top {
        min-height: 320px;
        max-height: 320px;
    }
</style>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#sortBtn').click(function () {
                window.location.href = "Customer/Home/Index?categoryId=1&orderBy=Price";
            })
        });
    </script>
}
